
/*@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/subset-FiraSans-Regular.eot');
	src: local('Fira Sans'), local('FiraSans-Regular'),
		url('../fonts/subset-FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-FiraSans-Regular.woff') format('woff'),
		url('../fonts/subset-FiraSans-Regular.ttf') format('truetype'),
		url('../fonts/subset-FiraSans-Regular.svg#FiraSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('../fonts/subset-ProximaNova-Bold.eot');
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('../fonts/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-ProximaNova-Bold.woff') format('woff'),
		url('../fonts/subset-ProximaNova-Bold.ttf') format('truetype'),
		url('../fonts/subset-ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

/*@font-face {
	font-family: 'Fira Sans Bold';
	src: url('http://nl.trixte.bget.ru/markup/fonts/subset-FiraSans-Bold.eot');
	src: local('Fira Sans Bold'), local('FiraSans-Bold'),
		url('http://nl.trixte.bget.ru/markup/fonts/subset-FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('http://nl.trixte.bget.ru/markup/fonts/subset-FiraSans-Bold.woff') format('woff'),
		url('http://nl.trixte.bget.ru/markup/fonts/subset-FiraSans-Bold.ttf') format('truetype'),
		url('http://nl.trixte.bget.ru/markup/fonts/subset-FiraSans-Bold.svg#FiraSans-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}*/

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/subset-ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('../fonts/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-ProximaNova-Regular.woff') format('woff'),
		url('../fonts/subset-ProximaNova-Regular.ttf') format('truetype'),
		url('../fonts/subset-ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
  font-family: 'Fira Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h1 {
  font-family: 'Proxima Nova Bold';
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  text-align: left;
}

a {
  width: 200px;
  color: #00e;
}

.header {
  height: 89px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fff;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, .06);
}

.content {
  display: block;
  max-width: 1600px;
  min-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 35px;
}

.content.content_simple {
  max-width: 1170px;
}


.footer {
  padding-top: 43px;
  padding-bottom: 75px;
  background-color: #fff;
}

.main {
  position: relative;
}

.main.main--mainpage {
  min-height: 671px;
}

.brand {
  width: 172px;
  margin-top: 25px;
}

.topnav {
  height: 100%;
  background-color: transparent;
}

.topnav_menu {
  display: block;
  height: 100%;
  float: left;
  text-align: left;
}

.header_phone {
  padding-top: 25px;
  text-align: right;
}

.phone_text {
  display: inline-block;
  color: #161616;
  font-size: 18px;
  letter-spacing: -1px;
}

.phone_icon {
  display: inline-block;
  width: 24px;
  height: 26px;
  margin-right: 13px;
}

.phone_icon i {
    color: #b23232;
    font-size: 22px;
}

.header_phone * {
    vertical-align: middle;
}

.menu_link {
  position: relative;
  width: auto;
  height: 100%;
  padding-top: 30px;
  padding-right: 19px;
  padding-left:19px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #222;
  font-size: 13px;
  text-align: center;
  letter-spacing: 1px;
}

.menu_link:hover {
  border-bottom: 6px solid #be5758;
}

.topnav_container {
  height: 100%;
  max-width: 1835px;
}

.footer_nav {
  padding-top: 40px;
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.footernav_link {
  color: #464646;
  font-size: 13px;
  text-decoration: none;
  letter-spacing: 1px;
}

.footernav_link:hover {
  color: #b23232;
}

.footernav_li {
  display: inline-block;
  margin-right: 25px;
}

.footernav_li li:last-child{
  margin-right: 0px;
}
.footernav_li>a {
     color: #464646;
     font-size: 13px;
     text-decoration: none;
     letter-spacing: 1px;
}
 
.footer_social {
  margin-top: 73px;
  text-align: center;
  position: relative;
  left: -20px;
}

.social_item {
  display: inline-block;
  max-width: 50px;
  padding-right: 17px;
  padding-left: 17px;
  border-right: 1px solid #464646;
  text-align: center;
  font-size: 17px;
}

.social_item.social_item--last {
  border-right-style: none;
}

.footer_social i, .eventpage_share--el i {
    color: #464646;
}

.footer_social a:hover i, .eventpage_share--el:hover i {
    color: #b23232;
}

.content_search--mainpage {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -9%;
  text-align: center;
}

.video_bg {
    width: 100%;
    min-height: 671px;
}

.w-background-video {
    position: relative;
    overflow: hidden;
    height: 500px;
    color: white;
}

.w-background-video>video {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

.topnav_col {
  height: 100%;
}

.topnav_row {
  height: 100%;
}

.search_h1--mainpage {
  margin-bottom: 50px;
  color: #fff;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.form.search_wrap * {
    vertical-align: top;
}

.search_input {
  display: inline-block;
  height: 50px;
  max-width: 640px;
  padding-left: 30px;
  font-size: 15px;
  letter-spacing: 1.5px;
  
}

.input::-webkit-input-placeholder {color:#d4d4d4;}
.input::-moz-placeholder          {color:#d4d4d4;}/* Firefox 19+ */
.input:-moz-placeholder           {color:#d4d4d4;}/* Firefox 18- */
.input:-ms-input-placeholder      {color:#d4d4d4;}


.search_input:focus {
  border-style: none;
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .2);
  outline: none;
}

.search_submit {
  width: 260px;
  height: 50px;
  background-color: #b23232;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  font-size: 15px;
  position: relative;
  left: -5px;
  letter-spacing: 2px;
}

.search_submit:hover {
  opacity: 0.95;
}

.search_submit:active {
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .25);
}

.article_title {
  min-height: 487px;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
}

.article_title--h1 {
  margin-top: 150px;
  font-family: 'Proxima Nova Rg';
  color: #fff;
  font-size: 54px;
  line-height: 70px;
  font-weight: normal;
      text-transform: uppercase;
}

.article_title--h1 span.h1-80 {
  font-size: 79px;
  text-transform: none;
}

.article_title--h1big {
  font-size: 79px;
}

.article_title--h1red {
  color: #de5757;
}

.content_row {
  margin-bottom: 25px;
}

.team_item {
  padding: 30px;
  background-color: #f6f6f6;
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, .3);
}

.team_h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Fira Sans', sans-serif;
  color: #b23232;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
}

.team_who {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  color: #686868;
  text-transform: uppercase;
}

.team_imgwrap {
  display: block;
  margin: 25px auto 20px;
  text-align: center;
}

.team_par--text {
  padding-left: 0px;
  color: #3e3e3e;
  font-size: 16px;
  line-height: 22px;
}

.press_blog {
    padding: 35px 70px;
    width: 90%;
    margin: 0 auto;
    background-color: #f6f6f6;
    box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, .3);
}

.press_item {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dfdfdf;
}

.press_prev {
  height: 100%;
  max-width: 305px;
}

.press_img {
  width: 100%;
  height: 100%;
}

.press_intro {
  padding-left: 25px;
}

.press_h3 {
  margin-top: 5px;
  margin-bottom: 0px;
  color: #b23232;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
}

.press_date {
    margin-bottom: 20px;
}

.press_date--text {
  color: #454545;
}

.press_introtext {
  clear: both;
}

.press_introtext--par {
  margin-bottom: 0px;
  padding-left: 0px;
  color: #3e3e3e;
}

.press_head--left {
  float: left;
  width: 50%;
}

.press_head--right {
  float: right;
  width: 50%;
  text-align: right;
}

.press_readmore {
  padding-right: 45px;
  background-image: url('../images/read.png');
  background-position: 100% 50%;
  background-size: 39px 26px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.press_readmore--text {
  color: #b23232;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.article_heading {
  margin-bottom: 50px;
}

.article_heading--h1 {
  font-family: 'Fira Sans', sans-serif;
  color: #3b3b3b;
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
}

.red {
  color: #b23232;
}

.bold {
  font-weight: 600;
}

.blog_item {
  margin-bottom: 25px;
  padding: 45px 35px;
  background-color: #f6f6f6;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .3);
}

.blog_meta--text {
  color: #313131;
  font-size: 20px;
}

.blog_h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #b84b4b;
  font-size: 20px;
  text-transform: uppercase;
}

.blog_intro--par {
  padding-left: 0px;
  color: #313131;
}

.load_more {
  margin-top: 160px;
  margin-bottom: 35px;
  text-align: center;
}

.button,.request_form input[type="submit"] {
  min-width: 265px;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #b23232;
  font-size: 15px;
  text-align: center;
}

.button:hover, input[type="submit"]:hover {
  background-color: #be5758;
  outline: none;
}

.button:active, input[type="submit"]:active {
  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, .2);
  outline: none;
}

.loadmore_button {
  display: block;
  width: 185px;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid rgba(34, 34, 34, .15);
  background-color: transparent;
  font-family: 'Fira Sans', sans-serif;
  color: #1b1b1b;
  font-size: 13px;
  line-height: 100%;
  text-transform: uppercase;
}

.loadmore_button:hover {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, .3);
  background-color: #fff;
}

.loadmore_button:active {
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .15);
  background-color: #fff;
}

.blog_head {
    margin-bottom: 20px;
}

.feed_who {
  height: 100%;
  margin-right: 30px;
  float: left;
}

.feed_who--img {
  width: 97px;
  height: 97px;
  border: 1px solid transparent;
  border-radius: 20em;
}

.feed_name {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #b23232;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.feed_whois {
  color: #7f7f7f;
  font-size: 13px;
  text-transform: uppercase;
}

.feed_whoinfo {
  height: 100%;
}

.feed_rait {
  margin-top: 10px;
}

.item_rait {
  display: inline-block;
  vertical-align: middle;
}

.item_rait i {
    font-size: 27px;
    color: #CF2E2E;
    margin-right: 2px;
}

.article_head {
  margin-bottom: 30px;
}

.article_head--h2 {
  padding-left: 0px;
  border-left-style: none;
  color: #2f2f2f;
  font-size: 24px;
  text-transform: uppercase;
}

.article {
  padding: 50px 65px 65px;
  background-color: #f6f6f6;
  box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, .3);
}

.content_bgimg {
  position: relative;
  display: block;
  height: 87px;
  max-width: 1265px;
  margin-top: -41px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/brush.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.red56 {
  color: #df5b56;
}

.article_par {
  padding-left: 0px;
  color: #2f2f2f;
}

.gift_bg {
  background-image: url('../images/gift_bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.gift_text {
  width: 40%;
  height: 100%;
  min-height: 500px;
  margin-bottom: 1px;
  padding-top: 175px;
  padding-right: 20px;
  float: left;
}

.gift_text--h1 {
  color: #fff;
  font-size: 43px;
  text-transform: uppercase;
  text-shadow: 0 4px 8px rgba(0, 0, 0, .24);
}

.gift_text--h2 {
  border-left-style: none;
  font-family: 'Proxima Nova Rg';
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  text-shadow: 0 4px 8px rgba(0, 0, 0, .24);
}

.button--buy {
  min-width: 265px;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #b23232;
  font-size: 15px;
  text-align: center;
}

.button--buy.gift_btn {
  margin-top: 20px;
  float: right;
}

.gift_fake {
  width: 60%;
  height: 100%;
  min-height: 500px;
  float: left;
}

.corp_next {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: right;
}

.corp_link {
  height: 26px;
  padding-right: 60px;
  background-image: url('../images/read.png');
  background-position: 100% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 26px;
  text-decoration: none;
}

.corp_next--text {
  color: #b03231;
  text-transform: uppercase;
}

.corp_list {
  padding-left: 20px;
  color: #3e3e3e;
  font-size: 12px;
}

.corp_li--text {
  color: #3e3e3e;
  font-size: 16px;
  line-height: 22px;
}

.corp_head {
  min-height: 85px;
  margin-bottom: 25px;
  display: table;
}

.team_item.corp_item {
  position: relative;
  min-height: 435px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, .3);
}

.team_h3.corp_h3 {
  margin-bottom: 24px;
  display: table-cell;
  vertical-align: middle;
}

.article_title--h1.corp_h1 {
  float: right;
}

.filter {
  display: block;
  max-width: 1175px;
  margin: 20px auto 45px;
}

.filter_select {
  display: inline-block;
  width: 30%;
  margin-right: 10px;
}

.filter_input--data {
  height: 40px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(34, 34, 34, .12);
  color: #a1a1a1;
  font-size: 13px;
}

.filter_input--data:focus {
  border-style: solid;
  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, .2);
}

.filter_submit {
  width: 100%;
  height: 40px;
  max-width: 270px;
  background-color: #b23232;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 100%;
  min-width: auto;
}

.filter_submit:hover {
  opacity: 0.95;
}

.filter_submit:active {
  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, .2);
}

.filter_select--select {
    height: 40px;
    padding-left: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(34, 34, 34, .12);
    background-color: #fff;
    color: #a1a1a1;
    font-size: 13px;
    background-image: none;
    -webkit-appearance: none;
    background-image: url('../images/arrow_down.png');
    background-repeat: no-repeat;
    background-position: 90% center;
    cursor: pointer;
    /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
}
 
select::-ms-expand {
  display: none;
}

.filter_input {
  width: 100%;
  height: 40px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(34, 34, 34, .12);
  color: #a1a1a1;
  font-size: 13px;
}

.filter_input:focus {
  border-style: solid;
  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, .2);
}

.filter_group {
  padding-right: 0px;
  text-align: right;
}

.event {
  max-height: 440px;
  font-size: 1em;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .29);
}

.event_info {
  position: relative;
  bottom: -5px;
  overflow: hidden;
  max-height: 240px;
  padding: 5%;
  background-image: url('../images/event_img.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.event_author {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #f6f6f6;
}

.request_form input[type="submit"], .event_button {
  display: block;
  width: 100%;
  max-height: 70px;
  min-height: 50px;
  margin-top: 0px;
  background-color: #b03231;
  color: #fff;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  min-width: auto;
}

.event_button.event_button--sold {
  background-color: #d0d0d0;
  color: #5f5f5f;
  line-height: 2em;
}

.event_head {
  width: 60%;
  height: 100%;
  padding-right: 10px;
  float: left;
}

.event_date {
  position: relative;
  width: 40%;
  height: 100%;
  padding: 0px;
  float: left;
}

.event_head--h3 {
  margin-top: 10px;
  color: #fff;
  font-size: 1.3em;
  line-height: 100%;
  text-transform: uppercase;
}

.event_date--c {
  color: #fff;
  font-size: 4em;
  line-height: 100%;
  text-transform: uppercase;
}

.event_datesq {
  position: absolute;
  right: 0;
  max-height: 110px;
  max-width: 110px;
  padding: 10% 15%;
  background-color: rgba(0, 0, 0, .53);
  text-align: center;
}

.event_authorimgwrap {
  width: 30%;
  padding: 10px 2%;
  float: left;
}

.event_date--month {
  color: #fff;
  font-size: 0.9em;
  text-transform: uppercase;
}

.event_authorinfo {
  width: 70%;
  padding-left: 10px;
  float: left;
}

.event_authorname {
  margin-bottom: 0px;
  color: #b23232;
  font-size: 1em;
  line-height: 100%;
  text-transform: uppercase;
}

.event_descript {
  padding-left: 0px;
  color: #fff;
  font-size: 0.9em;
  line-height: 15px;
}

.event_button--stock {
  font-size: 0.8em;
}

.event_authortype {
  color: #7f7f7f;
  font-size: 0.8em;
  text-transform: uppercase;
}

.event_rait {
  height: 23px;
  max-width: 130px;
  margin-top: 10px;
  background-image: url('../images/stars1.png');
  background-position: 50% 100%;
  background-size: cover;
}

.events_row {
  margin-bottom: 20px;
}

.event_authorlink {
  text-decoration: none;
}

.event_infolink {
  width: 100%;
}

.load_more.load_more--event {
  margin-top: 25px;
}

div#ui-datepicker-div a {
   width: auto;
}

.eventpage_info {
  padding: 35px;
  background-color: #f6f6f6;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .29);
  color: #33362d;
}

.eventpage_head {
  margin-bottom: 35px;
}

.eventpage_head--h1 {
  margin-bottom: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  color: #0d0d0d;
  font-size: 21px;
  line-height: 25px;
  text-transform: uppercase;
}

.eventpage_head--date {
  color: dimgrey;
  font-size: 13px;
}

.eventpage_fullimg {
  margin-bottom: 40px;
}

.eventpage_fullimg--img {
  width: 100%;
}

.eventpage_fulltext--h2 {
  margin-bottom: 25px;
  padding-left: 0px;
  border-left-style: none;
  font-size: 20px;
  line-height: 20px;
}

.eventpage_fulltext--p {
  margin-bottom: 15px;
  padding-left: 0px;
  color: #33362d;
  font-size: 13px;
  line-height: 15px;
}

.eventpage_share {
  margin-top: 25px;
  text-align: right;
}

.eventpage_share--text {
  display: inline-block;
  font-size: 13px;
}

.eventpage_share--el {
  display: inline-block;
  margin-left: 18px;
  width: auto;
}

.event_buy {
  margin-bottom: 20px;
  padding-top: 20px;
  background-color: #f6f6f6;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .29);
  text-align: center;
}

.eventbuy_price {
  min-height: 65px;
  padding-bottom: 0px;
  border-right: 1px solid #d2d2d2;
}

.eventbuy_price--text {
  color: #b23232;
  font-size: 26px;
  line-height: 65px;
  font-weight: 700;
}

.eventbuy_stock {
  min-height: 65px;
  line-height: 25px;
}

.eventbuy_stock--text {
  color: #4a4949;
  font-size: 14px;
}

.eventmap {
  margin-bottom: 25px;
}

.eventmap_map {
  max-height: 260px;
}

.event_position {
  margin-bottom: 25px;
  background-color: #f6f6f6;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .29);
}

.eventposition_logo {
  padding-bottom: 25px;
  border-bottom: 1px solid #cbcbcb;
  text-align: center;
}

.eventposition_address {
  margin-top: 20px;
  text-align: center;
}

.eventposition_address--text {
  color: #33362d;
  font-size: 13px;
  line-height: 15px;
}

.eventauthor {
  padding: 35px 30px;
  background-color: #f6f6f6;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .29);
}

.eventauthor_descr {
  position: relative;
  z-index: 1;
}

.eventauthor_descr--text {
  padding-left: 0px;
  color: #4a4949;
  font-size: 13px;
  line-height: 15px;
}

.eventauthor_more {
  text-align: right;
}

.eventauthor_more--link {
  width: auto;
  color: #b23232;
  font-size: 13px;
  text-decoration: none;
}

.eventauthor_overlay {
  position: absolute;
  bottom: 0px;
  z-index: 2;
  width: 100%;
  height: 50%;
  background-image: -webkit-linear-gradient(270deg, transparent, hsla(0, 0%, 96%, .67) 42%, #f6f6f6);
  background-image: linear-gradient(180deg, transparent, hsla(0, 0%, 96%, .67) 42%, #f6f6f6);
  line-height: 20px;
}

.eventbuy_row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.eventposition_wrapdesc {
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.eventbuy_stock--text20 {
  font-size: 20px;
}

.button.checkout_button {
  width: 100%;
  height: 60px;
  color: #fff;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
}


.author_imgwrap {
  width: 195px;
  height: 195px;
}

.author_img {
  width: 100%;
  height: 100%;
}

.author_name {
  margin-bottom: 0px;
  padding-left: 0px;
  border-left-style: none;
  color: #b23232;
  font-size: 20px;
  text-transform: uppercase;
}

.author_type {
  color: #7f7f7f;
  font-size: 13px;
  text-transform: uppercase;
}

.author_headding {
  margin-bottom: 20px;
}

.author_raiting {
  clear: both;
}

.author_stars {
    display: inline-block;
    width: 130px;
    height: 25px;
    background-image: url('../images/stars1.png');
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: bottom;
}

.author_raitcount {
    display: inline-block;
    margin-left: 20px;
    vertical-align: bottom;
}

.author_raitcount--text {
  color: #414141;
  line-height: 20px;
}

.author_stats {
  margin-top: 20px;
}

.author_stats--votestat {
  margin-bottom: 5px;
  color: #414141;
}

.author_stats--countevent {
  color: #414141;
}

.author_stats--count {
  font-size: 18px;
  font-weight: 700;
}

.h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #4a4949;
  font-size: 15px;
}

.author_works {
  padding: 29px 25px;
  background-color: #f6f6f6;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .29);
}

.author_workmodhead {
  margin-top: 5px;
  margin-bottom: 30px;
  color: #0d0d0d;
  font-size: 21px;
  text-transform: uppercase;
}

.author_lightbox {
  width: 100%;
  height: 100%;
}

.events_modauthor {
    margin-top: 30px;
}

.check_right {
  padding: 30px 25px;
  background-color: #f6f6f6;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .29);
}

.check_head {
  margin-top: 0px;
  color: #0d0d0d;
  text-transform: uppercase;
}

.check_total {
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  text-align: right;
}

.check_wraptotalline {
  margin-bottom: 20px;
}

.check_totaltext {
  color: #242424;
  font-size: 21px;
  text-align: left;
}

.check_totaltext.check_totaltext--right {
  text-align: right;
}

.check_couponinput {
  display: inline-block;
  width: 60%;
  height: 50px;
  padding-left: 20px;
  float: left;
  border: 1px solid #e0e0e0;
  color: #b29696;
  font-size: 16px;
}

.check_couponinput:focus {
  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, .2);
}

.check_total--txt {
  color: #be5758;
  font-size: 27.95px;
  font-weight: 700;
}

.check_info {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}

.chrck_infohead {
  margin-top: 0px;
  padding-left: 0px;
  border-left-style: none;
  font-size: 16px;
}

.check_infotext {
  padding-left: 0px;
  color: #5d5d5d;
  line-height: 15px;
}

.check_name {
  margin-bottom: 0px;
  color: #414141;
  font-size: 18px;
}

.check_formgroup {
  margin-bottom: 30px;
  clear: both;
}

.check_formcheckbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-left: none;
  border: 1px solid #a6b1c4;
  border-radius: 3px;
  background-color: #f6f6f6;
   -webkit-appearance: none;
   cursor: pointer;
    /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
  box-shadow: none;
}

select::-ms-expand {
  display: none;
}

.check_formcheckbox:checked {
    background-image: none;
    background-image: url('../images/check.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

.check_formcheckbox:checked, .check_formcheckbox:focus {
    outline: none;
}
 


.check_formcheckboxfield {
  margin-bottom: 15px;
}

.check_formcheckboxlabel {
  display: inline-block;
  color: #5d5d5d;
}

.check_forminput {
      width: 100%;
  height: 30px;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
}

.check_forminput:focus {
  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, .2);
}

.check_forminput.chec_forminput--margr {
  width: 95%;
  margin-right: 10px;
}

.check_formlabel {
  margin-bottom: 10px;
  color: #5d5d5d;
}

.check_summ {
  font-weight: 700;
  text-align: right;
}

.button.checkout_button {
  width: 100%;
  height: 60px;
  color: #fff;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
}

.button.check_couponsubmit {
  width: 40%;
  height: 50px;
  min-width: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  text-transform: uppercase;
}

.button.check_formsubmit {
  min-width: 223px;
  padding-top: 15px;
  padding-bottom: 15px;
  float: right;
  text-transform: uppercase;
}

.request_head {
  margin-bottom: 15px;
  border-bottom: 1px solid #d5d5d5;
}

.request_h1 {
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 15px;
  padding-left: 0px;
  border-left-style: none;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
}

.request_label {
  margin-bottom: 15px;
  color: #5d5d5d;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
}

.request_form input[type="text"],.request_form input[type="email"]  {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  padding: 5px 15px;
}
.request_form textarea{	
	  width: 100%;
  height: 130px;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  padding: 5px 15px;
}
.request_submitwrap {
  clear: both;
  text-align: right;
}

.request_how {
  margin-bottom: 30px;
}

.request_cypher {
  padding-right: 10px;
  color: #cecece;
  font-size: 88px;
  line-height: 75px;
  text-align: left;
}

.request_how--p {
  padding-left: 0px;
  color: #242424;
  font-size: 13px;
  line-height: 15px;
}

.request_form input[type="submit"]  {
  width: 223px;
  height: 45px;
  max-height: auto;
  max-width: 225px;
  min-height: auto;
  padding-right: 30px;
  padding-left: 30px;
  float: right;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

.request_form input[type="submit"]:hover {
  background-color: #be5758;
  outline: none;
}

.request_form input[type="submit"]:active {
  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, .2);
  outline: none;
}

.giftform_imgwrap {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .29);
}

.giftform_img {
  width: 100%;
}

.giftform_descript {
  margin-top: 30px;
}

.giftform_price {
  margin-top: 15px;
  margin-bottom: 20px;
  color: #be5758;
  font-size: 36px;
  line-height: 37px;
  font-weight: 700;
  text-transform: uppercase;
}

.giftform_desctext {
  padding-left: 0px;
  color: #212121;
  font-size: 18px;
  line-height: 18px;
}

.giftform_val {
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5d5d5;
}

.giftform_valcount {
  padding-left: 10px;
  color: #bf5a5c;
  font-size: 20px;
  line-height: 45px;
  font-weight: 700;
}

.giftform_select {
  width: 100%;
  height: 45px;
  max-width: 200px;
  border: 1px solid #e0e0e0;
  color: #d3d3d3;
  font-size: 13px;
  background-image: none;
  -webkit-appearance: none;
    background-image: url('../images/select_img.png');
    background-repeat: no-repeat;
    background-position: 90% center;
    cursor: pointer;
    /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
}
 
select::-ms-expand {
  display: none;
}

.giftform_sum {
  margin-bottom: 35px;
  text-align: right;
}

.giftform_sumtext {
  color: #0d0d0d;
  font-size: 16px;
}

.giftform_textform {
  margin-bottom: 30px;
  padding-left: 0px;
  color: #242424;
  font-size: 13px;
  line-height: 15px;
}

.button.giftform_btn {
  width: 222px;
  height: 45px;
  min-width: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  float: right;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.giftform_x {
  font-size: 16px;
  font-weight: 400;
}

.button.thanks_btn {
  display: block;
  width: 222px;
  height: 45px;
  min-width: auto;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-size: 16px;
  line-height: 12px;
  text-transform: uppercase;
}

.eventpage_info.thanks_page {
  min-height: 675px;
}

.thanks_h2 {
  margin-top: 45px;
  margin-bottom: 25px;
  color: #be5758;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.thanks_p {
  color: #0d0d0d;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  max-width: 760px;
  display: block;
  margin: 0 auto;
}

.thanks_img {
  display: block;
  margin: 20px auto;
}

@media (max-width: 1180px) {
  .menu_link {
    padding-top: 30px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 12px;
    }
  .topnav_menu {
      margin-left: 20px;
  }
  img.brand_logo {
    max-width: 80%;
  }
  .phone_text {
      font-size: 16px;
  }
  .phone_icon img {
    max-width: 80%;
}
.author_info {
    margin-left: 30px;
}
}
@media (max-width: 991px) {
  .topnav_menu {
    height: auto;
    background-color: #fff;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .25);
  }
  .content, .content.content_simple {
    max-width: none !important;
    min-width: 767px;
  }
  
  .topnav_col {
    text-align: center;
  }
  .search_input {
    max-width: 500px;
  }
  .search_submit {
    width: 200px;
  }
  .topmenu_btn {
    top: -74px;
    display: block;
    width: 60px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .topmenu_btn.w--open {
    background-color: #b03231;
  }
  .phone_icon img {
    max-width: 80%;
}
.phone_text {
    font-size: 13px;
}
.team_item {
    overflow: hidden;
    min-height: 400px;
    padding: 20px;
  }
  
 .press_blog {
    padding: 20px 40px;
  }
  .press_head--left {
    margin-bottom: 10px;
    float: none;
    width: 100%;
  }
  .press_head--right {
    float: none;
    width: 100%;
  }
  .article_heading {
    padding-right: 20px;
    padding-left: 20px;
  }
  .blog_item {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .content_bgimg {
    background-size: contain;
  }
  .gift_text {
    padding-top: 41px;
  }
  .gift_text--h1 {
    font-size: 38px;
  }
  .team_item.corp_item {
    padding-bottom: 65px;
  }
   .event {
    margin-bottom: 10px;
  }
  .event_date {
    text-align: right;
  }
  .event_datesq {
    top: 0px;
    right: 0px;
    margin-right: 0px;
  }
   .button.checkout_button {
    min-width: auto;
    font-size: 14px;
  }
  
   .author_bl {
    text-align: center;
  }
  .author_imgwrap {
    display: block;
  }
  .author_info {
    text-align: left;
  }
   .button.checkout_button {
    min-width: auto;
    font-size: 14px;
  }
   .check_totaltext {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .header {
    padding-right: 10px;
    padding-left: 10px;
  }
  .header_phone {
      padding-top: 30px;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .main.main--mainpage {
    min-height: 500px;
  }
  .video_bg {
    min-height: 500px;
}
  .topnav_menu {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .phone_text {
    font-size: 14px;
  }
  .footer_nav {
    padding-top: 20px;
  }
  .footer_social {
    margin-top: 40px;
  }
  .content, .content.content_simple {
    max-width: none;
    min-width: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .content_search--mainpage {
    margin-top: -20%;
  }
  .search_input {
    max-width: 250px;
  }
  .search_submit {
    width: 100px;
  }
  .topmenu_btn.w--open {
    height: 60px;
  }
  .phone_text {
    font-size: 12px;
  }
  .phone_icon img {
    max-width: 70%;
  }
  .phone_icon {
    margin-right: 0;
  }
  .content_row {
    margin-bottom: 0px;
  }
  .team_item {
    display: block;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }
  .team_img {
    width: 100%;
  }
  .press_blog {
    padding: 10px 20px;
  }
  .press_prev {
    width: 100%;
    text-align: center;
  }
  .press_intro {
    padding-left: 0px;
  }
   .blog_item {
    width: 95%;
    padding: 15px;
  }
  .blog_h3 {
    margin-top: 5px;
    line-height: 22px;
  }
  .load_more {
    margin-top: 40px;
  }
   .article {
    padding: 20px;
  }
   .gift_text {
    width: 100%;
    min-height: auto;
    padding-top: 0px;
    float: none;
    text-align: center;
  }
  .button.gift_btn {
    float: none;
  }
   .team_item.corp_item {
    min-height: auto;
  }
  .article_title--h1.corp_h1 {
    float: none;
    font-size: 38px;
}
 .filter_submit {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
   .event_buy {
    margin-top: 20px;
  }
  .check_forminput.chec_forminput--margr {
    width: 100%;
  }
  .check_right {
    margin-top: 20px;
}
 .request_cypher {
    font-size: 52px;
    line-height: 52px;
  }
}

@media (max-width: 479px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main.main--mainpage {
    min-height: 500px;
  }
  .topnav_menu {
    top: 28px;
    z-index: 999;
  }
  .content {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer_nav {
    padding-top: 20px;
  }
  .footer_social {
    margin-top: 20px;
  }
  .content {
   
  }
  .content_search--mainpage {
    margin-top: -30%;
  }
  .topnav_col {
    height: auto;
  }
  .search_h1--mainpage {
    font-size: 28px;
    line-height: 30px;
  }
  .search_input {
    height: 40px;
    max-width: 150px;
    padding-left: 10px;
    font-size: 11px;
  }
  .search_submit {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
  .topmenu_btn {
    right: -98px;
  }
  .topmenu_btn.w--open {
    right: -98px;
  }
  .article_title--h1 {
      text-align: center;
  }
  .article_title--h1 span.h1-80 {
    font-size: 57px;
}
.press_blog {
    padding: 10px;
    width: 95%;
  }
  .press_item {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .blog_item {
    width: 100%;
  }
   .gift_text {
    min-height: auto;
  }
   .filter_group {
    text-align: center;
  }
  .request_cypher {
    font-size: 48px;
  }
  
}

